<div class="container">
  <h2 class="text-center">Lista de Contactos</h2>

  <!-- Campo de búsqueda con icono -->
  <div class="input-group mb-4">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar contacto"
      [(ngModel)]="searchTerm"
      (input)="filterContacts()"
    />
    <span class="input-group-text"><i class="bi bi-search"></i></span>
  </div>

  <!-- Tabla de contactos -->
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Empresa</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Email</th>
          <th scope="col">Dirección</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of filteredContacts">
          <td>{{ contact.name }}</td>
          <td>{{ contact.company || 'Sin empresa' }}</td>
          <td>{{ contact.phones[0]?.phone_number || 'Sin teléfono' }}</td>
          <td>{{ contact.emails[0]?.email || 'Sin email' }}</td>
          <td>
            <span *ngIf="contact.addresses.length > 0">
              {{ contact.addresses[0].street }}, {{ contact.addresses[0].city }},
              {{ contact.addresses[0].state }}, {{ contact.addresses[0].country }}
            </span>
            <span *ngIf="contact.addresses.length === 0">Sin dirección</span>
          </td>
          <td class="text-center action-buttons">
            <button class="btn btn-info btn-sm" (click)="viewContact(contact.id)">
              Ver
            </button>
            <button class="btn btn-warning btn-sm" (click)="editContact(contact.id)">
              Editar
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteContact(contact.id)">
              Eliminar
            </button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginación -->
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="goToPage(currentPage - 1)">«</a>
      </li>
      <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="goToPage(currentPage + 1)">»</a>
      </li>
    </ul>
  </nav>
</div>
